<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="menu">
        <div id="menu">
            <span> <a th:href="@{/home}" >Home</a></span>
            <span> <a th:href="@{/products/list}">Products</a></span>
            <span> <a th:href="@{/admin}">Administrator</a></span>
            <span> <a th:href="@{/cart/list}">Cart</a></span>
        </div>
    </div>
    <div th:fragment="footer">
        <div id="footer">
            <span>Copyright</span>
        </div>
    </div>
</body>
</html>